body{
font-family:Arial;
text-align:center;
background:#f4f4f4;
}

.screen{
padding:20px;
}

.hidden{
display:none;
}

button{
width:80%;
padding:20px;
font-size:20px;
margin:10px;
border:none;
border-radius:12px;
}

.menuBtn{
background:#8ed0ff;
}

.orange{
background:orange;
}

.yellow{
background:gold;
}

.blue{
background:dodgerblue;
color:white;
}

.green{
background:green;
color:white;
}
